:root {
    --ff-primary: "League Spartan", sans-serif;

    --fw-regular: 400;
    --fw-bold: 500;
    --fw-dark: 700;

    --fs-primary: 0.9375rem;

    --clr-primary-100: hsl(333, 80%, 67%);
    --clr-primary-400: hsl(300, 43%, 22%);
    
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: hsl(300, 24%, 96%);
    --clr-neutral-300: hsl(303, 10%, 53%);
}


/* Reset */

*,
*::before,
*::after {
    box-sizing:border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1;
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Utility Classes */
.flow-content > * + * {
    margin-top: var(--flow-space, 1rem);
}

/* typography/general styling */
body {
   font-family: var(--ff-primary);
   font-size: var(--fs-primary);
   font-weight: var(--fw-regular);
}

h1 {
    color: var(--clr-primary-400);
    margin-top: 3.5rem;
}

p {
    color: var(--clr-neutral-300);
    line-height: 1.2;
}

.reviews-content {
    text-align: center;
}

.reviews-content >:first-child {
    margin-top: 1.5rem;
}

@media(min-width:40rem) {
    .reviews-content {
        margin-top: 3.5rem;
    }
}

.reviews-rating {
    background-color: var(--clr-neutral-200);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    border-radius: 0.3rem;
}

@media(min-width:40rem) {
    .reviews-rating {
        flex-direction: row;
        gap: 1rem;
        padding: 1rem 3rem 1rem 1.5rem;
    }

   .rated-reviews {
    position: relative;
    right: 4rem;
       
   }

   .rated-report {
    position: relative;
    right: 2rem;
   }
}

.reviews-rating p {
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
}

@media(min-width:40rem) {
    .reviews-rating p {
        font-size: 0.8rem;
    }
}


.reviews-rating h2 {
    color: var(--clr-primary-400);
    font-size: 0.8rem;
    font-weight: var(--fw-dark);
}

@media(min-width:40rem) {
    .reviews-rating h2 {
        font-size: 0.8rem;
    }
}

.testimonial p {
    color: var(--clr-neutral-100);
    font-weight: var(--fw-regular);
}

.testimonial-heading h3 {
    color: var(--clr-neutral-100);
}

.testimonial-heading p {
    color: var(--clr-primary-100);
}

.testimonial {
    background-color: var(--clr-primary-400);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: auto 1rem auto 1rem;
    max-width: 75rem;
}

@media(min-width:40rem) {
    .container {
        margin: 0 auto;
    }
}

.products-content {
    text-align: center;
}

@media(min-width:40rem) {
    .products-content {
        text-align: left;
    }

    .products-content h1 {
        font-size: 3rem;
        max-width: 25rem;
    }

    .products-content p {
       max-width: 25rem;
       font-weight: var(--fw-bold);
    }
}

.products-review-section {
    background-image: url(../images/bg-pattern-top-mobile.svg);
}

@media(min-width:40rem) {
    .products-review-section {
        background-image: url(../images/bg-pattern-top-desktop.svg);
        display: flex;
        gap: 18rem;
    }
}

.testimonials-section {
    background-image: url(../images/bg-pattern-bottom-mobile.svg);
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media(min-width:40rem) {
    .testimonials-section {
        flex-direction: row;
        background-image: url(../images/bg-pattern-bottom-desktop.svg);
        gap: 1.5rem;
    }
}

.testimonial {
    padding: 2rem;
    border-radius: 0.5rem;
}

.testimonial-heading {
    display: flex;
    gap: 1.5rem;
    font-weight: var(--fw-regular);
}

.testimonial-heading img {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}

.testimonial-statement {
    margin-top: 1.5rem;
    max-width: 16.5rem;
}

@media(min-width:40rem) {
    .testimonial-irene{
        margin-top: 1rem;
    }

    .testimonial-anne {
        margin-top: 2rem;
    }
}


